@use '../functions' as *;

@mixin add-font($font-family, $font-weight) {
    $parsed_font-family: capitalize(
        $string:
            to-lower-case(
                $string: $font-family,
            ),
    );
    $parsed_font-weight: capitalize(
        $string:
            to-lower-case(
                $string: $font-weight,
            ),
    );

    $weight: get-weight($parsed_font-weight);

    @font-face {
        font-display: swap;
        font-family: $font-family;
        src: url("/assets/fonts/#{$font-family}/#{$font-family}-#{capitalize($font-weight)}.ttf");
        font-weight: $weight;
    }
}
