.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1200px;
}

.title-section {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}

@media (min-width: 576px) {
    .title-section {
        font-size: 2.4rem;
    }
    .container {
        padding: 0 30px;
    }
}

section {
    margin: 100px 0 200px 0;
}

section.contact .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section.contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

section.contact form input,
section.contact form textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}

section.contact form input {
    height: 50px;
}

section.contact form textarea {
    height: 150px;
}

section.contact form button[type="submit"] {
    width: 100%;
    padding: 10px;
}

section.contact ul li i {
    font-size: 22px;
}

@media (min-width: 576px) {
    section.contact .wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

footer > div:first-child {
    height: 100%;
    padding: 30px;
    background-color: #d8d8d8;
}

footer .social-networks {
    display: flex;
}

footer .social-networks .social-network {
    border-radius: 50%;
    background-color: #000000;
}

footer .social-networks .social-network a {
    background-color: black;
    color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

footer .bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #b1b1b1;
}
