.home .services {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        justify-items: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        width: 250px;

        .icon > * {
            font-size: 4rem;
        }

        h3 {
            margin: 10px 0;
        }

        p {
            margin: 0;
            font-size: 14px;
        }
    }
}

@media (min-width: 640px) {
    .home .services .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 930px) {
    .home .services .wrapper {
        flex-direction: row;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .home .services .wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
